.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .slick-dots li button:before {
    color: #444; /* Color de los indicadores */
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #000; /* Color de las flechas */
  }
  